extends layout 

block content 
  div.aboutContainer 
    img(src="/img/logo.png", alt="Draco").apLogo
    p(style='font-size: 2em').harr.apInfo Draco Game Store
    br
    p.apInfo The items of this shop can't be bought online.
    br
    p.apInfo Please visit the store from Monday to Thursday 
    br
    p.apInfo Address: 1, blah, blah, blah.
    br
    p.apInfo Phone: +123123123
