extends layout

block content
  div.hpContainer
    p(style='font-size: 2.5em; font-weight: bolder') Welcome to 
      span(style='font-size: 1.5em;').harr Draco Game Store
    hr(style='width: 40%; text-align: center;')
    p(style='font-size: 1.7em; font-weight: bolder') Where you meet your favorite game 
    hr(style='width: 25%; text-align: center')
    p(style='margin-top: 27px')
      a(href='/game').goShopping Let's go Shopping
